{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {{app.user.username}}
        <div id="left">
            <div id="users">
                
            </div>
        </div>
        <div id="right">
            <div id="top">
                <div id="messages">
                    
                </div>
            </div>
            <div id="bottom">
                <div id="message">
                    <form>
                        <input type="text" placeholder="Message" id="msg"/>
                        <input type="submit" value="envoyer" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

