{% extends 'base.html.twig' %}
    {% block javascripts %}
    {% endblock %}
{% block body %}
    <div id="wrapper">
        <form method="POST" action="{{path('log',{})}}">
            <input type="text" name="_username"/>
            <input type="password" name="_password"/>
            <input type="submit" value="login"/>
        </form>
    </div>
{% endblock %}

